workflows/new-game-pass-games-to-slack.json
{
  "name": "Send a message to selected Slack channel when new Game Pass games become available",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7589204a-d003-406b-9182-094b91600ea1",
              "leftValue": "={{ $json.siglId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -896,
        96
      ],
      "id": "0ad1dd58-e11c-4863-8139-ca2d0f0b465f",
      "name": "Filter only products"
    },
    {
      "parameters": {
        "url": "https://catalog.gamepass.com/sigls/v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "3fdd7f57-7092-4b65-bd40-5a9dac1b2b84"
            },
            {
              "name": "market",
              "value": "FI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        96
      ],
      "id": "2818a963-dfbf-4d22-be9e-be8d61b29307",
      "name": "Fetch Game Pass catalog"
    },
    {
      "parameters": {
        "fileSelector": "/opt/n8n/state/workflow_game_pass.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -896,
        624
      ],
      "id": "48bfec15-f404-4868-af3f-92f6abc2d93a",
      "name": "Read workflow state",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d2af814-d0f5-493c-9bd9-26eae1bb65e8",
              "leftValue": "={{ $json.values() }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        768
      ],
      "id": "e902f83f-395a-4383-9304-05aa798e91b4",
      "name": "Is first time running the workflow?"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -672,
        96
      ],
      "id": "bce047ab-6c93-4e53-97ec-3473ca42b346",
      "name": "Take first 10 products"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/opt/n8n/state/workflow_game_pass.json",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1344,
        240
      ],
      "id": "fb99eae9-1e96-4512-8a36-c097bae44775",
      "name": "Write state file to disk"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        240
      ],
      "id": "b87097a4-f051-4bea-a426-1c104cdc4312",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -448,
        432
      ],
      "id": "1a12bff3-f0cb-43d6-8b1c-7fe6f624f30d",
      "name": "Is first run"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -672,
        576
      ],
      "id": "f16550c7-27a2-4584-96db-d840274f9542",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -448,
        624
      ],
      "id": "d27ae866-c30d-47da-b39a-5676b501c37f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -224,
        176
      ],
      "id": "db38b292-efb9-45d8-b184-970d10f1709a",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "url": "https://displaycatalog.mp.microsoft.com/v7.0/products",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "bigIds",
              "value": "={{ $json.id }}"
            },
            {
              "name": "market",
              "value": "fi"
            },
            {
              "name": "languages",
              "value": "fi-fi"
            },
            {
              "name": "MS-CV",
              "value": "DGU1mcuYo0WMMp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "ccca1033-63fa-4060-8f0b-b3d81a3e278e",
      "name": "Fetch product information"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C85D6SB5Z",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Uusi peli lisätty Game Passiin\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": {{ $json.title.toJsonString() }},\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": {{ ':game_die: '.concat($json.categories.join(', ')).toJsonString() }}\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": {{ $json.description.slice(0,500).toJsonString() }}\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"image\",\n\t\t\t\t\"image_url\": {{ ($json.previewImage || \"https://placehold.jp/3d4070/ffffff/150x150.png?text=lol\").toJsonString()}},\n\"alt_text\": \"Game cover\"\n\t\t\t}\n\t\t}\n\t]\n}",
        "text": "=",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "botProfile": {
            "imageValues": {
              "profilePhotoType": "emoji",
              "icon_emoji": "paka2"
            }
          },
          "sendAsUser": "Game Bass"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "id": "8bfa3ef9-3f49-47b8-a230-35b122fd8ecb",
      "name": "Send a message",
      "webhookId": "e55374d8-c283-45f3-b7fa-fbb2337cd868",
      "credentials": {
        "slackApi": {
          "id": "5AkZm8Q5BbL2QQoI",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2f314fb-d14d-4bee-bbaf-ffdf244af80f",
              "name": "id",
              "value": "={{ $json.Products[0].ProductId }}",
              "type": "string"
            },
            {
              "id": "f736523c-e96a-4157-bccf-711b2d1b412a",
              "name": "title",
              "value": "={{ $json.Products[0].LocalizedProperties[0].ProductTitle }}",
              "type": "string"
            },
            {
              "id": "a9c5f332-6545-4133-aaf1-f1e9d73d94aa",
              "name": "developer",
              "value": "={{ $json.Products[0].LocalizedProperties[0].DeveloperName || $json.Products[0].LocalizedProperties[0].PublisherName}} ",
              "type": "string"
            },
            {
              "id": "ab507267-6858-4897-bd14-480e6448162d",
              "name": "description",
              "value": "={{ $json.Products[0].LocalizedProperties[0].ProductDescription }}",
              "type": "string"
            },
            {
              "id": "b49ad241-03ef-40d2-852b-32168d843c0a",
              "name": "previewImage",
              "value": "={{ $json.Products[0].LocalizedProperties[0].CMSVideos[0].PreviewImage.Uri.replace('//', 'https://') }}",
              "type": "string"
            },
            {
              "id": "648830c1-eefc-4867-8252-16b1a0c6e96f",
              "name": "categories",
              "value": "={{ $json.Products[0].Properties.Categories }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "5b7b06ac-704b-4315-b234-23185baaaeb1",
      "name": "Extract fields for Slack message"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        48
      ],
      "id": "67249fdc-e0d3-445b-b3b3-e8dcf05191d9",
      "name": "Wait for Slack message"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        144
      ],
      "id": "2c86143d-1be8-4ead-b1b3-d9f6484a46b7",
      "name": "Combine all games"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        256
      ],
      "id": "7916261b-46f9-44e3-b616-851ed8b3dca7",
      "name": "Combine all previously processed games"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1408,
        688
      ],
      "id": "f167593e-2f96-4d52-923a-c95ccdad1929",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -448,
        208
      ],
      "id": "6f2df0cf-2d02-45e0-b48d-3491a5d9ecda",
      "name": "Is existing workflow?"
    }
  ],
  "pinData": {},
  "connections": {
    "Filter only products": {
      "main": [
        [
          {
            "node": "Take first 10 products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Game Pass catalog": {
      "main": [
        [
          {
            "node": "Filter only products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read workflow state": {
      "main": [
        [
          {
            "node": "Is first time running the workflow?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is first time running the workflow?": {
      "main": [
        [
          {
            "node": "Is first run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is existing workflow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take first 10 products": {
      "main": [
        [
          {
            "node": "Is existing workflow?",
            "type": "main",
            "index": 1
          },
          {
            "node": "Is first run",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Write state file to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is first run": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Fetch product information",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait for Slack message",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Combine all previously processed games",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Combine all previously processed games",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch product information": {
      "main": [
        [
          {
            "node": "Extract fields for Slack message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait for Slack message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract fields for Slack message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Slack message": {
      "main": [
        [
          {
            "node": "Combine all games",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine all games": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine all previously processed games": {
      "main": [
        [
          {
            "node": "Combine all games",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read workflow state",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Game Pass catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is existing workflow?": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c520bdc-c2be-4f91-8873-f2a85f14d1d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8781618fb42ba9c6ee340a249035491acf5ff7dc604b282b1749d80087a97f07"
  },
  "id": "GInczBaEYPxVvTfp",
  "tags": []
}