workflows/new-free-epic-store-games-to-slack.json
{
  "name": "Epic Store: Send a message to selected Slack channel when new free games become available",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/opt/n8n/state/epic_store.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -512,
        624
      ],
      "id": "1a9eda16-1002-406e-bc8c-72896e6bc8d0",
      "name": "Read workflow state",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d2af814-d0f5-493c-9bd9-26eae1bb65e8",
              "leftValue": "={{ $json.values() }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        768
      ],
      "id": "4982ff71-fc79-4df7-a3d1-2adb05ad29fa",
      "name": "Is first time running the workflow?"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/opt/n8n/state/epic_store.json",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1728,
        176
      ],
      "id": "e6bf1b17-d633-4ecd-af99-60d56fb9d470",
      "name": "Write state file to disk"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1504,
        176
      ],
      "id": "328c8f21-0051-45ee-9a27-59f3b13e98bc",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -64,
        432
      ],
      "id": "60562074-52f3-4b24-acc6-2bc2b35b92e9",
      "name": "Is first run"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -288,
        576
      ],
      "id": "24c6ba41-ea7d-4f59-916f-3627d8d94032",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -64,
        624
      ],
      "id": "8fa7afe3-e69e-4205-84ae-f5bd6231d822",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        160,
        144
      ],
      "id": "3d7c1855-9a9e-45e9-b755-21f24506e150",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C85D6SB5Z",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Uusi peli lisätty Epic Storeen\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*<https://store.epicgames.com/fi/p/{{ $json.urlSlug }}|{{  $json.title.removeMarkdown() }}>*\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"~{{ $json.originalPrice }}~ ILMANEN\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": {{ $json.description.slice(0,500).toJsonString() }}\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"image\",\n\t\t\t\t\"image_url\": {{ ($json.previewImage || \"https://placehold.jp/3d4070/ffffff/150x150.png?text=lol\").toJsonString()}},\n\"alt_text\": \"Game cover\"\n\t\t\t}\n\t\t}\n\t]\n}",
        "text": "=",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "botProfile": {
            "imageValues": {
              "profilePhotoType": "emoji",
              "icon_emoji": "tim_sweeney"
            }
          },
          "unfurl_links": false,
          "unfurl_media": false,
          "sendAsUser": "Ebin Store"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        832,
        -96
      ],
      "id": "52196201-fde0-4f4d-9002-0ea04cd2bc67",
      "name": "Send a message",
      "webhookId": "031bd8c2-78f5-487a-b828-b46d8b3771f5",
      "credentials": {
        "slackApi": {
          "id": "5AkZm8Q5BbL2QQoI",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2f314fb-d14d-4bee-bbaf-ffdf244af80f",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f736523c-e96a-4157-bccf-711b2d1b412a",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "a9c5f332-6545-4133-aaf1-f1e9d73d94aa",
              "name": "developer",
              "value": "={{ $json.seller.name }}",
              "type": "string"
            },
            {
              "id": "ab507267-6858-4897-bd14-480e6448162d",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "b49ad241-03ef-40d2-852b-32168d843c0a",
              "name": "previewImage",
              "value": "={{ $json.keyImages[0].url }}",
              "type": "string"
            },
            {
              "id": "648830c1-eefc-4867-8252-16b1a0c6e96f",
              "name": "originalPrice",
              "value": "={{ $json.price.totalPrice.fmtPrice.originalPrice }}",
              "type": "string"
            },
            {
              "id": "9cfe2c02-b335-47c9-8614-df807a0a3225",
              "name": "urlSlug",
              "value": "={{ $json.urlSlug }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -96
      ],
      "id": "3e403e9d-9f14-4f95-94ff-b3cb38ad6416",
      "name": "Extract fields for Slack message"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        -32
      ],
      "id": "20a587bc-532e-4b05-8f93-9c1d2f59e97d",
      "name": "Wait for Slack message"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1280,
        80
      ],
      "id": "01fada59-bfec-4d9b-9cbe-c038660f8aa2",
      "name": "Combine all games"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        256
      ],
      "id": "8d35fc1a-96ef-4e25-b0bc-e35e7b67b0e6",
      "name": "Combine all previously processed games"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1408,
        272
      ],
      "id": "337e732c-cdb0-4d72-8365-68284e3e42cb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -64,
        176
      ],
      "id": "ee4cb3dd-b0ce-480b-b408-61d4c7441e20",
      "name": "Is existing workflow?"
    },
    {
      "parameters": {
        "url": "https://store-site-backend-static-ipv4.ak.epicgames.com/freeGamesPromotions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locale",
              "value": "fi"
            },
            {
              "name": "country",
              "value": "FI"
            },
            {
              "name": "allowCountries",
              "value": "FI"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9,fi;q=0.8"
            },
            {
              "name": "cache-control",
              "value": "no-cache"
            },
            {
              "name": "origin",
              "value": "https://store.epicgames.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1184,
        -48
      ],
      "id": "1b647d23-0f27-411b-93b3-0e7f05be7797",
      "name": "Fetch Epic Store promotions"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7589204a-d003-406b-9182-094b91600ea1",
              "leftValue": "={{ $json.price.totalPrice.discountPrice }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -736,
        -48
      ],
      "id": "e2f01259-57db-40ad-a04b-02dbcc8463b5",
      "name": "Filter only free games"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7589204a-d003-406b-9182-094b91600ea1",
              "leftValue": "={{ $json.promotions.promotionalOffers[0].promotionalOffers[0].startDate }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "128fc9ff-350e-4018-9f95-39c40ab3af19",
              "leftValue": "={{ $json.promotions.promotionalOffers[0].promotionalOffers[0].endDate }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -512,
        -48
      ],
      "id": "d1d29818-6a36-4390-a3f0-b4a9aae39599",
      "name": "Filter only active promotions"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.Catalog.searchStore.elements",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -960,
        -48
      ],
      "id": "ad01d9d3-ac86-4c8e-beae-99c41ccce42c",
      "name": "Split out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb182d2e-0c8e-4acb-b448-4602a0dd5ca3",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        96
      ],
      "id": "0e7cc04c-7560-470c-92f2-b1bf7cb1935a",
      "name": "Extract IDs"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        -96
      ],
      "id": "767165d8-12aa-4eef-985c-18056c48fe0d",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Read workflow state": {
      "main": [
        [
          {
            "node": "Is first time running the workflow?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is first time running the workflow?": {
      "main": [
        [
          {
            "node": "Is first run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is existing workflow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Write state file to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is first run": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Wait for Slack message",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Combine all previously processed games",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Combine all previously processed games",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait for Slack message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract fields for Slack message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Slack message": {
      "main": [
        [
          {
            "node": "Combine all games",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine all games": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine all previously processed games": {
      "main": [
        [
          {
            "node": "Combine all games",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read workflow state",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Epic Store promotions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is existing workflow?": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Epic Store promotions": {
      "main": [
        [
          {
            "node": "Split out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only free games": {
      "main": [
        [
          {
            "node": "Filter only active promotions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out": {
      "main": [
        [
          {
            "node": "Filter only free games",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only active promotions": {
      "main": [
        [
          {
            "node": "Extract IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract IDs": {
      "main": [
        [
          {
            "node": "Is existing workflow?",
            "type": "main",
            "index": 1
          },
          {
            "node": "Is first run",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract fields for Slack message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8916adc8-079b-48ed-bedb-0a2dced08208",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8781618fb42ba9c6ee340a249035491acf5ff7dc604b282b1749d80087a97f07"
  },
  "id": "rM1JadFFCOSuQEf5",
  "tags": []
}